@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-700.woff2") format("woff2");
  font-display: swap;
}

.html {
  background-color: #F2F2F2;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.2);
}




.navigation-link {

font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #000000;
background-color: #ffffff;
text-decoration: none;
text-align: center;
text-transform: capitalize;
}

.navigation-button {
font-family: "PT Sans", sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #ffffff;
text-decoration: none;
text-align: center;
text-transform: uppercase;
background-color: #756157;
}

.greeting-img {
  background-image: url("../images/Index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.greeting-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.greeting-text {
  text-align: center;
}

.reasons-item .reasons-content {
  background-color: rgba(131, 179, 211, 0.2);
  }

  .reasons-item:nth-child(2n) .reasons-content {
  background-color: rgba(131, 179, 211, 0.12);
  }

  .reasons-item-full .reasons-content {
  background-color: rgba(131, 179, 211, 0.12);
  }

  .reasons-item-other:nth-child(2n) .reasons-content {
  background-color:#FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.2);
  }



  .reasons-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  }

  .reasons-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: center;
  }


  .reasons-item-full .reasons-title {
  color: #ffffff;
  }

  .reasons-item-full .reasons-description {
  color: #ffffff;
  }



.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.search-description {
  text-align: center;
}

.search-button {
font-weight: 700;
font-size: 20px;
line-height: 36px;
color: #ffffff;
background-color: #756157;
text-decoration: none;
text-align: center;
text-transform: uppercase;
}

.footer-phone {
font-weight: 400;
font-size: 40px;
line-height: 40px;
color: #000000;
background-color: #ffffff;
text-decoration: none;
text-align: center;
text-transform: capitalize;
}

.filter {
  background-image: url("../images/Catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


.title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  text-align: left;
  text-transform: capitalize;
}

.breadcrumbs-link {
font-weight: 400;
font-size: 16px;
line-height: 21px;
color: #ffffff;
text-decoration: none
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-transform: capitalize;
  }

  .catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  text-transform: capitalize;
  }

  .catalog-filter-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  }

  .catalog-filter-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  }

  .sorting-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  }

  .sorting-select {
  font-size: 18px;
  line-height: 21px;
  }

  .hotels-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  }

  .hotel-type {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  }

  .hotel-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  }

  .hotels-button-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  }

  .hotels-favorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
  }

  .hotels-rating-text {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
  }

  .pagination-item {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    }

    .pagination-current {
    color: #ffffff;
    }

    .pagination-link-more {
    color: #ffffff;
    }

    .newsletter-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center
    }

    .newsletter-text {
    text-align: center;
    }

    .form-input {
      font-size: 18px;
      line-height: 24px;
      color: #000000;
      }

      .placeholder {
      font-size: 18px;
      line-height: 24px;
      color: #000000;
      opacity: 0.6;
      }



      .newsletter-button {
        font-weight: 700;
        font-size: 20px;
        line-height: 36px;
        color: #ffffff;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        background-color: #82B3D3;
        }
